<header class="site-header">
  <div class="container header-inner">
    <div class="site-branding">
      <h1 class="site-title"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      <p class="site-subtitle">{{ site.description }}</p>
    </div>
    <nav class="site-nav" aria-label="Primary">
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ 'https://sites.google.com/site/alicecarterecology/research'}}">Research↗</a></li>
        <li><a href="{{ '/consult' | relative_url }}">Stats Consulting</a></li>
        <!--<li><a href="{{ '/consult#downloads' | relative_url }}">Example Scripts</a></li>-->
      </ul>
    </nav>
  </div>
</header>

